---

import PhpIcon from '../icons/Php.astro';
import JavaSIcon from '../icons/JSIcon.astro';
import HtmlIcon from '../icons/Html.astro';
import CssIcon from '../icons/CSS.astro';
import DartIcon from '../icons/Dart.astro';
import PythonIcon from '../icons/Python.astro';
import JavaIcon from '../icons/Java.astro';
import CppIcon from '../icons/C++.astro';
import CSIcon from '../icons/CSharp.astro';
import CIcon from '../icons/C.astro';

const languages = [

{ name: 'PHP', 
  icon: PhpIcon, 
  hoverColor: 'hover:text-purple-500' 
},
  { 
    name: 'JavaScript', 
  icon: JavaSIcon, 
  hoverColor: 'hover:text-yellow-500' 
},
{ name: 'CSS', 
  icon: CssIcon, 
  hoverColor: 'hover:text-blue-600' 
},
{ name: 'HTML', 
  icon: HtmlIcon, 
  hoverColor: 'hover:text-orange-500' 
},
{ name: 'Dart', 
  icon: DartIcon, 
  hoverColor: 'hover:text-sky-400' 
},
  { name: 'Python', 
  icon: PythonIcon, 
  hoverColor: 'hover:text-yellow-300' 
},
  { name: 'Java', 
  icon: JavaIcon, 
  hoverColor: 'hover:text-sky-700' 
},
  { name: 'C++', 
  icon: CppIcon, 
  hoverColor: 'hover:text-sky-700' 
},
{
  name: 'C Sharp',
  icon: CSIcon,
  hoverColor: 'hover:text-purple-400'
},
{
  name: 'C',
  icon: CIcon,
  hoverColor: 'hover:text-[#659cd3]'
},
  
];

const firstListEndIndex = 5; 
---
<div class="w-full flex flex-col items-center p-4">
  <h2 class="text-2xl font-bold mb-4 text-center">Languages</h2>
  <div class="w-full flex flex-wrap">
    <div class="w-full lg:w-1/2 flex flex-col items-center p-4">
      <ul class="grid gap-4 list-inside">
        {languages.slice(0, firstListEndIndex).map(language => (
          <li class={`flex items-center group mb-2 ${language.hoverColor}`} key={language.name}>
            {language.icon && <language.icon class="icon transition size-6 duration-300" />}
            <span class="ml-2">{language.name}</span>
          </li>
        ))}
      </ul>
    </div>

    <div class="w-full lg:w-1/2 flex flex-col items-center p-4">
      <ul class="grid gap-4 list-inside">
        {languages.slice(firstListEndIndex).map(language => (
          <li class={`flex items-center group mb-2 ${language.hoverColor}`} key={language.name}>
            {language.icon && <language.icon class="icon transition size-6 duration-300" />}
            <span class="ml-2">{language.name}</span>
          </li>
        ))}
      </ul>
    </div>
  </div>
</div>

<style>
  .icon {
    filter: grayscale(100%);
    transition: filter 0.3s, color 0.3s;
  }
  .group:hover .icon {
    filter: grayscale(0%);
  }
</style>