---

import JSIcon from "../icons/JSIcon.astro"
import AFrameIcon from "../icons/Aframe.astro"
import ProjectsIcon from "../icons/Projects.astro"
import DeviceIcon from "../icons/Device.astro"
import WordP from "../icons/Wordpress.astro"
import UnityIcon from "../icons/unity.astro"
import CIcon from "../icons/C++.astro"
import PhpIcon from "../icons/Php.astro"
import MySQLIcon from "../icons/Mysql.astro"
import FlutterIcon from "../icons/Flutter.astro"
import DartIcon from "../icons/Dart.astro"

const TAGS = {
    JS: {
        name: "JavaScript",
        class: "bg-[#28292d] text-[#f7df1e]",
        icon: JSIcon,
        
    },
    Aframe: {
        name: "A-Frame",
        class: "bg-[#00cbff] text-[#1c2834]",
        icon: AFrameIcon,
    },
    Wordpress: {
        name: "Wordpress",
        class: "bg-[#dbeff7] text-[#00769d]",
        icon: WordP,
    },
    Unity: {
        name: "Unity",
        class: "bg-[#222222] text-[#c3c3c3]",
        icon: UnityIcon,
    },
    CIcon: {
        name: "C#",
        class: "bg-[#1c1c1c] text-[#ffffff]",
        icon: CIcon,
    },
    PhpIcon: {
        name: "PHP",
        class: "bg-[#ffffff] text-[#748cb9]",
        icon: PhpIcon,
    },
        MySQLIcon: {
        name: "MySQL",
        class: "bg-[#ffffff] text-[#02769b]",
        icon: MySQLIcon,
    },
    FlutterIcon: {
        name: "Flutter",
        class: "bg-[#ffffff] text-[#757575]",
        icon: FlutterIcon,
    },
    DartIcon: {
        name: "Dart",
        class: "bg-[#1c2834] text-[#8c949c]",
        icon: DartIcon,
    },
}

const PROJECTS = [
    {
        title: "FIME Virtual Tour",
        description: 
        "Navega por las instalaciones de la Facultad de Ingeniería, conoce los departamentos y hazte una idea del ambiente académico desde la comodidad de tu pantalla.",
        image: "assets/RecorridoWeb.webp",
        link: "https://recorridovirtual.congresointernacionalpiv.com",
        repository: "https://github.com/user/fime-virtual-tour",
        tags: [TAGS.Aframe, TAGS.JS],
    },
    {
        title: "Symtto",
        description: "Pagina Web donde se ofrecen servicios electricos e instalaciones electricas con pasarela de pagos stripe integrada, destalles de el product etc.",
        image: "assets/symtto.webp",
        link: "https://symtto.com",
        
        tags: [TAGS.JS, TAGS.Wordpress],
    },
    {
        title: "Forklift Simulator",
        description: "Simulador de montacargas en Unity, con el objetivo de enseñar a los operadores a manejar un montacargas de manera segura, completamente funcional con volante, pedales, palanca de cambios y VR.",
        image: "assets/forklift.gif",
        repository: "",
        video: "assets/forklift.mp4",
        tags: [TAGS.CIcon, TAGS.Unity],
    },
    {
        title: "Gestion Nomina",
        description: "Sistema de gestion de nomina, controlar los empleados por medio de una base de datos, crear, borrar, sus asistencias, con calculo de horas extras, bonos, descuentos, etc y al final del mes generar sus nominas.",
        image: "assets/Nomina.webp",
        repository: "https://github.com/Cristofer3097/Gestion-Nomina",
        tags: [TAGS.PhpIcon, TAGS.MySQLIcon],
    },
    {
        title: "Ultimate Invasion",
        description: "Juego de naves en 2D, inspírado en el videojuego Space Invaders con la posibilidad de elegir entre 4 niveles de dificultad, con Score y vidas.",
        image: "assets/Invasion.gif",
        repository: "https://github.com/Cristofer3097/Ultimate-Invasion",
        video: "assets/Invasion.mp4",
        tags: [TAGS.CIcon, TAGS.Unity],
    },
    {
        title: "Tonos de pared",
        description: "Aplicacion movil creada en Android Studios para escanear paredes y obtener el color de la misma, con la posibilidad de guardar los colores, foto y verlos en la galeria.",
        image: "assets/Tonos.webp",
        repository: "https://github.com/Jair-Rodriguez007/PIADispMoviles",
        video: "assets/Tonos.mp4",
        tags: [TAGS.FlutterIcon, TAGS.DartIcon],
    },
]
---

<article class="max-w-screen-xl mx-auto px-1 sm:px-1 lg:px-2 py-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10 ">
      {PROJECTS.map(({ title, description, image, link, repository, tags, video }) => (
          <div class="relative group overflow-hidden rounded-lg shadow-lg bg-gray-800 hidden-on-scroll ">
              <img
                  src={image}
                  alt={`Captura de ${title}`}
                  class="object-cover w-full h-64 transition-opacity duration-300 group-hover:opacity-30"
              />
              <div class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 
                  bg-black/70 transition-opacity duration-300 px-4 text-center">
                  <h3 class="text-lg font-bold text-white mb-2">{title}</h3>
                  <p class="text-sm text-gray-250 mb-4">{description}</p>

                  <div class={`flex gap-x-2 mb-2 py-2 ${!repository || !link || !video ? "justify-center" : ""}`}>
                      {link && (
                          <a href={link} target="_blank" rel="noopener noreferrer" title="Proyecto"
                             class="flex text-sm text-blue-100 hover:underline mt-1 p-2 rounded-lg bg-purple-500/90 font-semibold gap-x-1">
                              <DeviceIcon class="size-4" />
                              Ver Proyecto
                          </a>
                      )}
                      {repository && (
                          <a href={repository} target="_blank" rel="noopener noreferrer" title="Repositorio"
                             class="flex text-sm text-blue-100 hover:underline mt-1 p-2 rounded-lg bg-purple-500/90 font-semibold gap-x-1">
                              <ProjectsIcon class="size-4" />
                              Ver Código
                          </a>
                      )}
                      {video && (
                          <button onclick={`openVideoModal('${video}')`}
                                  class="flex text-sm text-blue-100 hover:underline mt-1 p-2 rounded-lg bg-purple-500/90 font-semibold gap-x-1">
                              <ProjectsIcon class="size-4" />
                              Ver Video
                          </button>
                      )}
                  </div>

                  <ul class="flex flex-wrap justify-center gap-2">
                      {tags.map((tag) => (
                          <li>
                              {typeof tag === "object" ? (
                                  <span class={`flex gap-x-2 items-center rounded-full text-xs ${tag.class} py-1 px-2`}>
                                      <tag.icon class="size-4" />
                                      {tag.name}
                                  </span>
                              ) : (
                                  <span class="bg-gray-600 text-white py-1 px-2 rounded-full text-xs">{tag}</span>
                              )}
                          </li>
                      ))}
                  </ul>
              </div>
          </div>
      ))}
  </div>
</article>


<div id="videoModal" class="fixed inset-0 bg-black bg-opacity-80 hidden flex justify-center items-center z-50" onclick="closeVideoModal()">
  <div class="relative max-w-[90vw] max-h-[90vh]" onclick="event.stopPropagation()">

      <button onclick="closeVideoModal()" 
          class="absolute top-14 right-4 bg-black bg-opacity-80 text-white text-3xl font-bold cursor-pointer p-2 rounded-full z-50">
          &times;
      </button>

      <video id="modalVideo" class="w-[80vw] h-[45vw] max-w-[1100px] max-h-[706px] rounded-lg shadow-lg transform scale-75 opacity-0 transition-all duration-300" 
          controls>
      </video>

  </div>
</div>

<script>
    
  function openVideoModal(videoUrl) {
      const modal = document.getElementById("videoModal");
      const modalVideo = document.getElementById("modalVideo");

      modalVideo.src = videoUrl; 
      modal.classList.remove("hidden");

      setTimeout(() => {
          modalVideo.classList.remove("scale-75", "opacity-0");
          modalVideo.classList.add("scale-100", "opacity-100");
          modalVideo.play(); 
      }, 50);
  }

  function closeVideoModal() {
      const modal = document.getElementById("videoModal");
      const modalVideo = document.getElementById("modalVideo");

      modalVideo.pause(); 
      modalVideo.classList.remove("scale-100", "opacity-100");
      modalVideo.classList.add("scale-75", "opacity-0");

      setTimeout(() => {
          modal.classList.add("hidden");
          modalVideo.src = ""; 
      }, 300);
  }

  window.openVideoModal = openVideoModal;
  window.closeVideoModal = closeVideoModal;
  
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll(".hidden-on-scroll");

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add("visible-on-scroll");
            } else {
                entry.target.classList.remove("visible-on-scroll");
            }
        });
    }, { threshold: 0.3 }); 

    elements.forEach(el => observer.observe(el));
});
</script>
<style>

    .hidden-on-scroll {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.8s ease-out, transform 1.0s ease-out;
    }
    

    .visible-on-scroll {
        opacity: 1;
        transform: translateY(0);
    }
    </style>
    